.friendContainer {
  min-width: 225px;
  min-height: 298px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  padding: 7px 0px;
  cursor: pointer;
}

.friendAvatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.friendInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.friendUsername {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.friendRealName {
  font-size: 20px;
  color: #8f8f8f;
}
